<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Form</title>
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<form method="post" th:action="@{/api/v5/orders/create}" th:object="${orderForm}">
    <label>
        Product name:
        <input th:field="*{productName}" type="text">
        <span th:errors="*{productName}" th:if="${#fields.hasErrors('productName')}"></span>
    </label>

    <label>
        Quantity:
        <input th:field="*{quantity}" type="number">
        <span th:errors="*{quantity}" th:if="${#fields.hasErrors('quantity')}"></span>
    </label>

    <button type="submit">Send data to display!</button>
</form>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>